[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = ">=2024.2"
python-telegram-bot = {extras = ["job-queue"], version = ">=21.6"}
pyzmail36 = ">=1.0.5"
pysondb = "*"
python-dotenv = "*"
pysocks = ">=1.7.1"
markdownify = "*"
requests = ">=2.32.3"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
